<div Markdown [path]="'https://raw.githubusercontent.com/mdwiki-io/mdwiki-io/master/docs/header.md'"></div>
<div class="navbar" style="width:100%">
    <div class="navbar-inner">
        <ol class="nav">
            <li><a href="/strona-glowna">Strona Główna</a></li>
            <li><a href="/konsultacje">Konsultacje</a></li>
            <li class="dropdown"><a href="#">Zabiegi</a>
                <ol class="dropdown-menu">
                    <li><a href="/pedicure-medyczny">Pedicure medyczny</a></li>
                    <li><a href="/odciski">Odciski</a></li>
                    <li><a href="/modzele">Modzele</a></li>
                    <li><a href="/pekajace-piety">Pękające pięty</a></li>
                    <li><a href="/wrastajace-paznokcie">Wrastające paznokcie</a></li>
                    <li><a href="/wkrecajace-paznokcie">Wkręcające paznokcie</a></li>
                    <li><a href="/grzybica">Grzybica</a></li>
                    <li><a href="/luszczyca-stop">Łuszczyca stóp</a></li>
                    <li><a href="/brodawki-hpv">Brodawki wirusowe/kurzajki</a></li>
                    <li><a href="/rekonstrukcja-paznokci">Rekonstrukcja paznokci</a></li>
                    <li><a href="/stopy-seniorow-paznokcie-zgrubiale">Stopy seniorów, paznokcie zgrubiałe</a></li>
                    <li><a href="/pielegnacja-stop-diabetyka">Pielęgnacja stóp diabetyka</a></li>
                    <li><a href="/w-ciazy">Pielęgnacja stóp kobiet w ciąży</a></li>
                    <li><a href="/stopy-dziecka">Pielęgnacja stóp dziecka</a></li>
                </ol>
            </li>
            <li><a href="/z-praktyki-podologicznej">Z praktyki podologicznej</a></li>
            <li><a href="/media-o-nas">Media o nas</a></li>
            <li><a href="/cennik">Cennik</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ol>
    </div>
</div>
<ngx-md>
# Markdown h1 content
## Markdown h2 content
### Markdown h3 content
</ngx-md>
<div Markdown [path]="'https://raw.githubusercontent.com/mdwiki-io/mdwiki-io/master/docs/footer.md'"></div>


<ngx-md>
  ---
</ngx-md>
MENU:
{{ menu_items | json }}
